body{
     vertical-align: middle;
     text-align: center;
     align-items: center;
     align-content: center;
     align-self: center;
     justify-self: start;
     justify-content: baseline;
     justify-items: auto;
     text-justify: auto;
     vertical-align: auto;
     marg
}